image: golang:latest

stages:
  - test
  - build
  - deploy

format:
  stage: test
  script:
    - export GO111MODULE=on 
    - export GOPROXY=https://goproxy.cn,direct
    - go mod init hello
    - go mod tidy
    - CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -o main .
  artifacts:
    paths:
      - main

compile:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  script:
    - docker build -t example-image:latest .
  

deploy:
  stage: deploy
  script: echo "Define your deployment script!"
  environment: production
